@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap');


*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    
}

body{
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'IBM Plex Mono', monospace;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #3C79F5;
    border-bottom: 1px solid rgba(212, 210, 210, 0.5);
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar .nav-logo{
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
}

.navbar .nav-logo span{
    color: #FBB454;
}


.navbar .navbar-nav a{
    color: #fff;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover{
    color: #FBB454;
}

/* Hero Section */
.hero{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #3C79F5, #6C00FF);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero .content{
    padding: 1.4rem 7%;
    text-align: center;
    margin: auto;
    /* max-width: 60rem; */
}
 
.hero .content h1{
    color: #fff;
    font-size: 3.5em;
    line-height: 1.2;
    font-family: 'IBM Plex Mono', monospace;
    /* text-shadow: 1px 1px 5px rgba(1, 1, 3, 0.5); */
}

.hero .content h1 span{
    /* color: var(--primary); */

}

.hero .content p{
    margin-top: 1rem;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);

}

/* About Section */
.about{
    padding: 1.4rem 7%;
}
.about h2, .service h2, .portofolio h2, .blog h2{
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
}

/* About Section */

.about .row{
    display: flex;
}

.about .row .about-img{
    /* width: 5rem; */
}

.about .row .about-img img{
    width: 25vw;
    border-radius: 50%;
}

.about .row .content{
    flex: 1 1 35rem;
    padding: 0 1rem;
    margin-left: 4rem;
}

.about .row .content p{
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
    line-height: 1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
}


.about .row .content .cta{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: #3C79F5;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.service .service-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    
}

.service .service-container .service-card{
    margin: 0 1rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;

}

.service-card span{
    margin: 2rem;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;

}

.service-card h3{
    display: block;
    margin: -1rem 2rem 2rem 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;

}

.service-card p{
    display: block;
    margin: -1rem 2rem 2rem 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;

}

.portofolio .porto-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 7%;
}

.portofolio .porto-container .porto-card{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Sans Pro',
}







/* Media Queries */

/* Laptop */

@media(max-width: 1366px){
    html{
        font-size: 85%;
    }
}
